.settings-advanced-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-family: "Rajdhani", sans-serif;
  color: #fff;
  padding: 20px; 
  box-sizing: border-box; 
}
.section-title {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.settings-section,
.advanced-section,
.rules-section {
  width: 324px;
}

.settings-list,
.advanced-list,
.rules-list {
  display: flex;
  flex-direction: column;
}

.setting-item,
.advanced-item,
.rules-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
}

.setting-item:hover,
.advanced-item:hover,
.rules-item:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  .setting-label {
    color: black;
  }
}

.setting-label {
  color: #fff;
}

.setting-value {
  text-align: right;
}

/* Responsive Design */

@media (max-width: 1200px) {
  .settings-advanced-container {
    flex-direction: column;
    align-items: center;
    width: 100%; 
    margin-left: 10px; 
  }
}